
body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
span{
    color:rebeccapurple;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;

}
.half-width img{
    width:90%;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 16, 216),rgb(255, 71, 178));
    padding: 10px 30px;
    border-radius: 10px;
    color:whitesmoke;
}
.experience-item{
    width:40%;
    box-shadow: 10px 10px 30px gray;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}
#web-dev-exp{
    border-left: 5px solid;
    border-image: linear-gradient(rgb(255, 0, 255),rgb(0, 204, 255),rgb(112, 28, 129));
    border-image-slice: 1;
}
#web-dev-exp2{
    border-left: 5px solid;
    border-image:linear-gradient(rgba(209, 125, 14, 0.836),rgb(71, 255, 240),rgb(102, 255, 0));
    border-image-slice:1;

}
.pro-dev{
    color:rgb(120, 71, 255);
}
.baby-dev{
    color: rgb(234, 114, 250);
}
footer p{
    text-align: center;
}
.link-button2{
    text-decoration: none;
    color: whitesmoke;
    background-image: linear-gradient(rgb(172, 10, 172),rgb(247, 0, 255));
    padding: 10px 30px;
    border-radius: 10px;

}
.orange{
    color: tomato;
}
.footer{
    box-shadow: 10px 10px 30px gray;
    background-image:linear-gradient(rgb(16, 171, 243),rgb(247, 0, 255));
    height: 200px;
    padding-top: 35px;
    border-radius: 5px;
    
}
.footer-link{
    text-decoration: none;
    color: whitesmoke;
}
